//fonts
$google-font: 'https://fonts.googleapis.com/css?family=Raleway:400,700';

$fontFamily: $google-font;

$baseFontSize: 16px;

$font-family-sans-serif: 'Raleway', sans-serif;

$imgPath: "../i/";

$blue: #07a9f4;
$grey: #222222;
$imgBorder: #dddddd;
$white: #ffffff;